---
import Layout from '../layouts/with_teaser.astro';
import angebot1 from '../assets/icons_aufgaben/1_bauplan.png';
import angebot2 from '../assets/icons_aufgaben/2_ortsbesichtigung.png';
import angebot3 from '../assets/icons_aufgaben/3_kostenschaetzung.png';
import angebot4 from '../assets/icons_aufgaben/4_beratung.png';
import angebot5 from '../assets/icons_aufgaben/5_angebot.png';
import { Image } from 'astro:assets';
---

<Layout  
    topBg="/src/assets/teaser/bauprojekt_teaser.jpg" 
    title="Ihr Angebot - Schritt für Schritt" 
    description="Maßgeschneiderte Lösungen, wettbewerbsfähige Preise und erstklassiger Service. Jetzt individuelles Angebot anfordern!"
    >
    <div class="card-section dark">
        <div class="container">
            <h2>Der Weg zu Ihrem Angebot<span>.</span></h2>

            <div class="list">

                <!-- 1. -->
                <div class="list-item">
                    <Image src={angebot1} alt="Schritt 1 - Bauplan" width="115"></Image>
                    <div class="headline">
                        Ihre Baupläne<span>.</span>
                    </div>
                    <div class="descr">
                        Sie übermitteln uns die Baupläne zur Einsicht.
                    </div>
                </div>

                <!-- 2. -->
                <div class="list-item">
                    <Image src={angebot2} alt="Schritt 2 - Ortsbesichtigung" width="115"></Image>
                    <div class="headline">
                        Ortsbesichtigung<span>.</span>
                    </div>
                    <div class="descr">
                        Wir kommen vorbei und schauen uns zusammen das Objekt an.
                    </div>
                </div>

                <!-- 3. -->
                <div class="list-item">
                    <Image src={angebot3} alt="Schritt 3 - Kostenschätzung" width="115"></Image>
                    <div class="headline">
                        Kostenschätzung<span>.</span>
                    </div>
                    <div class="descr">
                        Sie erhalten von uns eine umfassende Einschätzung der Projektkosten.
                    </div>
                </div>

                <!-- 4. -->
                <div class="list-item">
                    <Image src={angebot4} alt="Schritt 4 - Beratung" width="115"></Image>
                    <div class="headline">
                        Beratung<span>.</span>
                    </div>
                    <div class="descr">
                        Beratung von Anfang an bezüglich Ihren Wünschen, des Ausbaus und der Umsetzbarkeit sowie zu sonstigen Rahmenbedingungen.
                    </div>
                </div>

                <!-- 5. -->
                <div class="list-item">
                    <Image src={angebot5} alt="Schritt 5 - Angebot" width="115"></Image>
                    <div class="headline">
                        Ihr Angebot<span>.</span>
                    </div>
                    <div class="descr">
                        Nach 5 bis 7 Werktagen erhalten Sie Ihr professionelles und unverbindliches Angebot.
                    </div>
                </div>

        </div>
    </div>
</Layout>

<style>
    .list{
        list-style: none;
        font-size: 20px;
        padding-bottom: 55px;
    }
    .list-item{
        display: grid;
        grid-template-columns: 115px 330px;
        align-items: center;
        grid-template-areas: 
            "icon headline"
            "icon descr";
        margin: 45px 0;
        gap: 8px 30px;
        justify-content: center;
    }
    .list-item img{
        grid-area: icon;
        align-self: flex-start;
    }
    .list-item .headline{
        font-size: 34px;
        font-weight: 700;
        grid-area: headline;
    }
    .list-item .descr{
        font-size: 16px;
        line-height: 1.4;
        grid-area: descr;
    }
    .list-item span{
        color: var(--yellow);
    }

    @media (max-width: 1000px){

        .container{
            padding-top: 40px;
        }
        .list{
            padding-bottom: 5px;
        }
        .list-item{
            grid-template-columns: 80px 330px;
            gap: 6px 20px;
        }
        .list-item img{
            width: 80px;
        }
        .list-item .headline{
            font-size: 26px;
        }
    }

    @media (max-width: 600px){

        .list-item{
            grid-template-columns: 70px 1fr;
            gap: 6px 15px;
        }
        .list-item img{
            width: 70px;
        }
        .list-item .headline{
            font-size: 22px;
        }
    }
</style>
