---
import Layout from '../layouts/with_teaser.astro';
import TeamCard from "../components/TeamCard.astro";
import team2 from '../assets/team_besprechung4.jpg';
import partner1 from '../assets/partner_logos/aik.jpg';
import partner2 from '../assets/partner_logos/allianz.svg';
import partner4 from '../assets/partner_logos/baubuero.svg';
import partner5 from '../assets/partner_logos/bnp_paribas_real_estate.svg';
import partner6 from '../assets/partner_logos/strabag-logo.png';
import partner7 from '../assets/partner_logos/union_investment.svg';
import partner8 from '../assets/partner_logos/intelligent-real-estate-investments-at-hines.svg';
import partner9 from '../assets/partner_logos/deka_investmentfonds.svg';
import partner10 from '../assets/partner_logos/hoergestetter_architektur.svg';
import partner11 from '../assets/partner_logos/intega.svg';
import partner12 from '../assets/partner_logos/pkv_stiftung.gif';
import partner13 from '../assets/partner_logos/quadviso.svg';

import { Image } from 'astro:assets';

---

<Layout 
    topBg="/src/assets/teaser/team_bauprojekt_balkon_opti.jpg"
    title="Über uns & unser Team" 
    description="Erfahren Sie mehr über die Bauprojekt GmbH. Mit über 50 Jahren Erfahrung bieten wir maßgeschneiderte Lösungen im schlüsselfertigen Mieterausbau."
    >

        <div class="card-section light">
            <div class="container">
                <h2>Über uns<span>.</span></h2>
                <div id="intro">
                    <div>
                        <p>
                            Die Partner Udo Köhler, Gregor Schmidts und Dirk Köhler haben 2019 die Bauprojekt GmbH gegründet. Udo sowie Dirk Köhler sind die Eigentümer der beiden familiengeführten Generalunternehmen „Erich Köhler GmbH“ und „FMC planen und bauen AG“, die auf eine mehr als 40-jährige Berufserfahrung zurückschauen. Mit der Gründung der „Bauprojekt GmbH“ wurden die Leistungen vervollständigt und auf den süddeutschen Raum erweitert - mit starken Partnern an ihrer Seite. 
                        </p>
                        <p>
                            Wir freuen uns darauf, Sie bei zukünftigen Bauprojekten rund um den schlüsselfertigen Mieterausbau unterstützen zu dürfen.
                        </p>
                    </div>
                    <Image class="round-img" src={team2} alt="Bild vom Team" width="450"></Image>
                </div>
            </div>
        </div>

        <!-- Teambilder -->
        <div class="card-section dark">
            <div class="container">
                <h2 class="center">Unser Team<span>.</span></h2>
                <p class="text">
                    Wir vereinen Leidenschaft und Fachwissen. 
                    Dadurch erschaffen wir individuelle Raumlösungen, welche Funktionalität und Ästhetik perfekt verbinden.
                </p>
                <p class="text">
                    Auch komplexe Projekte setzen wir mit Präzision und Kreativität um, denn Ihre Zufriedenheit steht stets im Mittelpunkt unseres Handelns.    
                </p>
                <div class="cards">
                    <TeamCard name="Gregor Schmidts" position="Geschäftsführer" imagePath="/src/assets/teambilder/team_1.jpg"></TeamCard>
                    <TeamCard name="Jessica Martorana" position="Team- und Buchhaltungsassistenz" imagePath="/src/assets/teambilder/team_2.jpg"></TeamCard>
                    <TeamCard name="Yasser Saleh" position="Projektleiter" imagePath="/src/assets/teambilder/team_3.jpg"></TeamCard>
                    <TeamCard name="Theodora Karypidou" position="Teamassistenz" imagePath="/src/assets/teambilder/team_4.jpg"></TeamCard>
                    <TeamCard name="Matthias Loschert" position="Projektleiter" imagePath="/src/assets/teambilder/team_5.jpg"></TeamCard>
                    <TeamCard name="Saied El Sayed" position="Junior Projektleiter" imagePath="/src/assets/teambilder/team_6.jpg"></TeamCard>
                    <TeamCard name="Barish Celik" position="Projektleiter" imagePath="/src/assets/teambilder/team_6.jpg"></TeamCard>
                    <TeamCard name="Demnächst vielleicht du?" position="Bewirb dich jetzt!" imagePath="/src/assets/teambilder/team_6.jpg"></TeamCard>
                </div>
            </div>
        </div>

        <!-- Partnerfirmen -->
        <div class="card-section light">
            <div class="container">
                <h2 class="center">Unsere Partner<span>.</span></h2>
                <div class="partner-grid">
                    <Image class="round-img" src={partner1} alt="AIK"></Image>
                    <Image class="round-img" src={partner5} alt="BNP Paribas Real Estate"></Image>
                    <Image class="round-img" src={partner4} alt="Baubüro"></Image>
                    <Image class="round-img" src={partner2} alt="Allianz"></Image>
                    <Image class="round-img" src={partner6} alt="Strabag"></Image>
                    <Image class="round-img" src={partner7} alt="Union Investment"></Image>
                    <Image class="round-img" src={partner12} alt="Paula-Kubitschek-Vogel Stiftung"></Image>
                    <Image class="round-img" src={partner9} alt="Deka Investmentfonds"></Image>
                    <Image class="round-img" src={partner10} alt="Hörgestetter Architektur"></Image>
                    <Image class="round-img" src={partner8} alt="Hines"></Image>
                    <Image class="round-img logo-filter" src={partner11} alt="Intega"></Image>
                    <Image class="round-img" src={partner13} alt="Quadviso"></Image>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    #intro {
        display: grid;
        grid-template-columns: 1fr 450px;
        gap: 80px;
        margin-bottom: 90px;
    }

    .cards img {
        max-width: 100%;
        max-height: 100%;
        filter: brightness(80%);
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    h2.center{
        text-align: center;
    }
    .text{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    #card-collection {
        margin: 0 15%;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
        margin: 65px 0 90px;
    }
    .partner-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        padding: 5px 0 90px;
    }
    .partner-grid > img{
        width: 170px;
        justify-self: center;
        align-self: center;
    }
    .logo-filter{
        filter: brightness(0) saturate(100%) invert(11%) sepia(77%) saturate(5850%) hue-rotate(197deg) brightness(100%) contrast(102%);
    }
    @media (min-width: 768px) AND (max-width: 1000px){
        #intro {
            grid-template-columns: 1fr 350px;
            gap: 40px;
            margin-bottom: 40px;
        }
        .cards{
            gap: 25px;
        }
        .partner-grid{
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
            padding: 0 0 75px;
        }
        .partner-grid > img{
            width: 160px;
        }
    }

    @media (max-width: 767px){
        h2 {
            margin-top: 30px;
        }
        .text{
            max-width: 90%;
        }
        #intro {
            grid-template-columns: 1fr;
            gap: 10px;
            margin-bottom: 40px;
        }
        #intro > img{
            justify-self: center;
        }
        .cards{
            grid-template-columns: 1fr;
            gap: 25px;
            margin: 0 8% 30px;
        }
        .partner-grid{
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            gap: 30px;
            padding: 0 0 50px;
        }
        .partner-grid > img{
            width: 150px;
        }
    }
    @media (max-width: 500px){
        .partner-grid{
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            padding: 0 0 50px;
        }
        .partner-grid > img{
            width: 120px;
        }
    }
</style>