---
import buero9 from '../../assets/buero9.jpg';
import buero8 from '../../assets/buero8.jpg';
import buero10 from '../../assets/buero10.jpg';
import kueche from '../../assets/kueche.jpg';
import wohnen2 from '../../assets/wohnen2.jpg';
import bad from '../../assets/bad.jpg';
---

<div class="container">
    <h2>Referenzen<span>.</span></h2>

    <div class=" image-gallery">
        <img class="round-img" src={buero9.src}>
        <img class="round-img" src={buero8.src}>
        <img class="round-img" src={buero10.src}>
        <img class="round-img" src={kueche.src}>
        <img class="round-img" src={wohnen2.src}>
        <img class="round-img" src={bad.src}>
    </div>

    <div>
        <button class="cta-btn">
           Referenzen ansehen
        </button>
    </div>
    
</div>

<style>
    .image-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        margin-bottom: 50px;
    }
    img{
        width: 100%;
        height: 500px;
        background: #eee;
    }
    .cta-btn{
        margin-bottom: 90px;
    }
</style>