---
/* 4:5 */
import ref1 from '../../assets/ref1.jpg';
import ref2 from '../../assets/ref2.jpg';
import ref3 from '../../assets/ref3.jpg';
import ref4 from '../../assets/ref4.jpg';
import ref5 from '../../assets/ref5.jpg';
import ref6 from '../../assets/ref6.jpg';
---

<div class="container">
    <h2>Referenzen<span>.</span></h2>

    <div class=" image-gallery">
        <img class="round-img" src={ref1.src}>
        <img class="round-img" src={ref2.src}>
        <img class="round-img" src={ref3.src}>
        <img class="round-img" src={ref4.src}>
        <img class="round-img" src={ref5.src}>
        <img class="round-img" src={ref6.src}>
    </div>

    <div>
        <button class="cta-btn">
           Referenzen ansehen
        </button>
    </div>
    
</div>

<style>
    .image-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        margin-bottom: 50px;
    }
    img{
        width: 100%;
        background: #eee;
    }
    .cta-btn{
        margin-bottom: 90px;
    }
    @media (min-width: 768px) AND (max-width: 1000px){
        .image-gallery{
            margin-bottom: 30px;
        }
        .cta-btn{
            margin-bottom: 35px;
        }
    }

    @media (max-width: 767px){
        .image-gallery{
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            margin-bottom: 30px;
        }
        img{
            display: block;
            max-width:330px;
            max-height:450px;
            height: auto;
            margin: 0 auto;
        }
        .cta-btn{
            margin-bottom: 20px;
        }
    }
</style>