---
import { getImage } from "astro:assets";
import requirements1 from '../../assets/requirements1.jpg';
import requirements2 from '../../assets/requirements2.jpg';
import requirements3 from '../../assets/requirements3.jpg';
import requirements4 from '../../assets/requirements4.jpg';
import requirements5 from '../../assets/requirements5.jpg';

/* 16:9 */
const optimizedBuero4 = await getImage({src: requirements1, format: 'webp'});
const optimizedBuero5 = await getImage({src: requirements2, format: 'webp'});
const optimizedBuero6 = await getImage({src: requirements3, format: 'webp'});
const optimizedBuero7 = await getImage({src: requirements4, format: 'webp'});

---

<div class="container">
    <h2>Ihre Wünsche<span>.</span></h2>
    <div class="scope-grid section dark-text">
        <div>
            <p>
                Auf uns können Sie bauen, denn Ihre Visionen setzen wir um!
            </p>
            <p>
                Für uns stehen Ihr Projekt sowie Ihre individuellen Vorstellungen und Wünsche an erster Stelle. Dafür kommunizieren wir mit allen Projektbeteiligten auf Augenhöhe, zielstrebig und konstruktiv. Als zuverlässiger Partner führen wir Ihr Projekt gemeinsam zum Ziel, denn das ist unser Handwerk.
            </p>
        </div>
        <img class="round-img" src={requirements5.src} width="375">
    </div>
    <div class="scope-info">
        <div class="round-img" style={`background-image: url(${optimizedBuero4.src});`}>
            <div>
                <h3>Beratung</h3>
                <p>immer im Sinne des Auftraggebers</p>
            </div>
            
        </div>
        <div class="round-img" style={`background-image: url(${optimizedBuero5.src});`}>
            <div>
                <h3>Qualität</h3>
                <p>in der Umsetzung der Projekte</p>
            </div>
        </div>
        <div class="round-img" style={`background-image: url(${optimizedBuero6.src});`}>
            <div>
                <h3>Fertigstellung</h3>
                <p>fristgerechte ohne Verzug</p>
            </div>
            
        </div>
        <div class="round-img" style={`background-image: url(${optimizedBuero7.src});`}>
            <div>
                <h3>Kommunikation</h3>
                <p>auf Augenhöhe mit allen Beteiligten</p>
            </div> 
        </div>
    </div>
</div>

<style>
    .scope-grid{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 50px;
    }
    .scope-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 15px 0 70px;
    }
    .scope-info > div{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        height: 235px;
        padding: 15px;
        background-size: cover!Important;
        justify-content: center;
        align-items: end;
        color: #fff;
        text-align: center;
        box-shadow: inset 0 -78px 60px -20px #212121;
        /* background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85) 100%); */ */
    }
    .scope-info h3{
        margin: 0;
        font-size: 24px;
    }
    .scope-info p{
        margin: 0;
        font-size: 16px;
    }

    @media (min-width: 768px) AND (max-width: 1000px){
        .scope-grid{
            grid-template-columns: 1fr 320px;
            gap: 40px;
        }
        .scope-info{
            margin: 15px 0 35px;
        }
        .scope-info > div{
            height: 180px;
        }
    }

    @media (max-width: 767px){
        .scope-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 0px;
            margin-bottom: 0;
        }
        .scope-grid > img{
            display: none;
        }
        .scope-info{
            grid-template-columns: repeat(1, 1fr);
            margin: 15px 0 25px;
        }
        .scope-info > div{
            height: 120px;
            width: 100%;
        }
    }

</style>