---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getImage } from "astro:assets";
import type {ImageMetadata} from 'astro';


interface Props {
    topBg: string;
}



const {topBg} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/teaser/*.{jpeg,jpg,png,gif}')


const teaser = images[topBg];
if (!teaser) throw new Error(`"${topBg}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

const optimizedTeaser = await getImage({src: teaser(), format: 'webp'});


---

<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Bauprojekt"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Bauprojekt</title>
</head>
<body>
    <Header/>
    <main>
        <div id="teaser" style={`background-image: url(${optimizedTeaser.src});`} class="teaser">
        </div>
        <slot/>
            
    </main>
    <Footer/>
</body>
</html>

<style>
    #teaser{
        position: relative;
        background-size: cover;
    }
    #page-head {
        position: relative;
        width: 100%;
        padding: 30px 0;
    }

    #head-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: -100;
    }

    #head-slot{
        padding-bottom: 50px;
    }

    #content {
        padding-top: 75px;
    }

    #page-head:after {
        position: absolute;
        content: "";
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        height: 60px;
        width: 100%;
        background: var(--stripeBg);
        bottom: -30px;
        z-index: 10;
    }

    #content:before {
        position: absolute;
        content: "";
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        height: 60px;
        width: 100%;
        background: var(--bottomBg);
        z-index: 20;
        top: 0;
    }
</style>

<style define:vars={{topBg}}>

    #teaser {
        
    }

</style>